h1
{
color:red;
background-color:rgb(255,222,173);
border-style:dotted;
border-color:white;
}

body
{
background-color:rgb(205,133,63);
}

h2
{
color:red;
background-color:rgb(255,222,173);
font-size:25px;
padding-left:10px;
border-style:dotted;
border-color:white;
}

img
{
border-color:rgb(255,248,220);
border-style:dashed;
}

li
{
color:black;
font-size:22px;
}

div
{
background-color:rgb(255,248,220);
border-style:dashed;
color:red;
padding-left:20px;
padding-right:20px;
padding-bottom:20px;
}